@import "../../assets/variables";

:host {
  mat-slide-toggle {
    height: 42px;
  }
}

.debit-row {
  ::ng-deep {
    .mat-list-item-content {
      width: 100%;
      padding: 0 0 0 4px;
    }
  }
}

.editor-wrapper {
  height: stretch;
  background-color: $light-primary;
  padding: 16px 24px 16px 24px;
  flex: 1;
}

.editor-group {
  margin-top: 16px;
}

.editor-row {
  display: flex;
}

.editor-symbol-col {
  flex: 1;
  margin: auto;
}

.editor-input-col {
  flex: 9;
  margin: auto 8vw auto auto
}

.delete-sweep {
  position: absolute;
  right: 50px;
}

.debit-row {
  display: flex;
}

.debit-name-col {
  flex: 1;
}

.debit-input-col {
  width: 25vw;
  margin-right: 8vw;
}

.debit-actions {
  display: flex;
  justify-content: space-between;
  margin: 12px 16px 0 0;
}
