@use '../../../theme/mixins' as mixins;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-stepper {
  background: transparent;
}

.tab-group {
  flex: 1;
}

.action-button-row {
  @include mixins.action-button-row();
}
