@import "../../assets/variables";

mat-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.receipt-toolbar {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  background-color: $light-primary;
}

.receipt-view-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $light-primary;
}

.receipt-container {
  height: calc(100vh - #{$header-height});
  width: 100%;
  align-items: center;
  display: flex;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
}

.receipt-unavailable-msg {
  width: 100%;
  text-align: center;
  color: slategrey;
}

.receipt {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}

.receipt-action-button {
  min-width: 131px;
}
