<mat-card (click)="onClick()">
  <mat-card-content>
    <div class='purchase-card'>
      <div *ngIf="buyerAvatarUrl$ | async" class='grid-cell__r2-c1'>
          <img mat-card-avatar [src]="buyerAvatarUrl$ | async">
      </div>

      <div class='grid-cell__r1-c2'>
        <p>{{purchase.date | date : "dd.MM.yyyy"}}</p>
      </div>

      <ng-container *ngIf="!purchase.isCompensation; else isCompensation">

        <div class='grid-cell__r2-c2 font-large'>
          <p>{{purchase.shop | titlecase}}</p>
        </div>

        <div class='grid-cell__r3-c2'>
          <p>{{(category$ | async)?.label | lowercase}}</p>
        </div>

      </ng-container>

      <ng-template #isCompensation>

        <div class='grid-cell__r2-c2 font-large'>
          <mat-icon class="compensation_arrow">arrow_right_alt</mat-icon>
          <img *ngIf="receiverAvatarUrl$ | async" mat-card-avatar
               [src]="receiverAvatarUrl$ | async" class="receiver-avatar">
        </div>

        <div class='grid-cell__r3-c2'>
          <p>{{'compensation' | lowercase}}</p>
        </div>

      </ng-template>

      <div class='grid-cell__r2-c3 font-large purchase-sum'>
        <p *ngIf="debitSum">
          {{debitSum | currency:'EUR':'€ ':'1.2-2'}}
        </p>
        <p *ngIf="!debitSum">
            N/A
        </p>
      </div>

      <div class="grid-cell__r3-c3">
        <app-sync-indicator [syncStatus]="purchase.syncStatus"
                            [size]="'18px'"
                            class="sync-status-indicator"
        ></app-sync-indicator>
      </div>

    </div>
  </mat-card-content>
</mat-card>
