<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
    <script language="javascript">
        let targetUrl = 'http://localhost:8080/api/v1/user';
        angular.module('GetRestObject', ['ngResource']);
        function Ctrl($scope, $resource, $http) {
            let restservice = $resource(
                targetUrl, {}, {
                    query: {method: 'GET', isArray: true}
                }
            );
            $scope.users = restservice.query();

            $scope.splitAtComma = function(int) {
                return int.toFixed(2).toString().split('.');
            };

            $scope.getUserIds = function() {
                let userIds= [];
                for (i=0; i < $scope.users.length; i++) {
                    userIds.push($scope.users[i]["userId"]);
                }
                return userIds;
            };

            $scope.getTotalAmount = function() {
                let totalAmount = document.getElementById("amount").value;
                if (totalAmount === "" || totalAmount == null) {
                    M.toast({html: 'Please insert first the total amount!'});
                    throw new Error("Value of input-field with id 'amount' is empty.");
                }
                return currency(totalAmount);
            };

            $scope.getFilledOutAmountAndEmptyFields = function(userIds) {
                let filledOutAmount = currency(0);
                let emptyFields = [];

                let tmpFieldValue;
                for (i=0; i < userIds.length; i++) {
                    tmpFieldValue = document.getElementById(userIds[i]).value;
                    if (tmpFieldValue != null && tmpFieldValue !== "") {
                        if (parseFloat(tmpFieldValue) < 0) {
                            M.toast({html: 'Please insert only positive numbers!'});
                            throw new Error("Number in input-field of class 'debit-input' is negative.")
                        }
                        filledOutAmount = filledOutAmount.add(parseFloat(document.getElementById(userIds[i]).value));
                    } else {
                        emptyFields.push({
                            "fieldId" : userIds[i],
                            "assignedValue" : currency(0)});
                    }
                }
                return {
                    "filledOutAmount" : filledOutAmount,
                    "emptyFields" : emptyFields
                }
            };


            $scope.distributeValuesByBresenhamAlgorithm = function(totalAmount, filledOutAmount, emptyFields) {
                // get difference
                let difference = totalAmount.subtract(filledOutAmount);

                // divide difference by number of empty fields
                let fieldValue = difference.value / emptyFields.length;
                fieldValue = currency(Math.floor(fieldValue * 100) / 100);  // make sure values are rounded down

                // get remainder
                let remainder = difference.subtract(currency(fieldValue).multiply(emptyFields.length));

                // distribute fieldValue on empty fields
                for (i=0; i < emptyFields.length; i++) {
                    emptyFields[i].assignedValue = emptyFields[i].assignedValue.add(fieldValue);
                }

                // distribute remainder on empty fields
                for (i=0; i < (remainder.multiply(100)); i++) {
                    emptyFields[i].assignedValue = emptyFields[i].assignedValue.add(0.01);
                }
                return emptyFields;
            };

            $scope.validateDistribution = function(totalAmount, filledOutAmount, emptyFields) {
                let checkEmptyFieldValues = currency(0);
                for (i=0; i < emptyFields.length; i++) {
                    checkEmptyFieldValues = checkEmptyFieldValues.add(emptyFields[i].assignedValue);
                }
                if (checkEmptyFieldValues.add(filledOutAmount) != totalAmount.value) {
                    M.toast({html: 'Ooops! Something went wrong...'});
                    throw new Error("Sum of values from filled out debit fields and values to be assigned to empty debit fields does not match with value from total amount");
                }
            };

            $scope.distributeOnEmptyFieldsButton = function() {
                // get user ids
                let userIds = $scope.getUserIds();

                // get total amount
                let totalAmount = $scope.getTotalAmount();

                // get amount of filled inputs
                let tmpValue = $scope.getFilledOutAmountAndEmptyFields(userIds);
                let filledOutAmount = tmpValue.filledOutAmount;
                let emptyFields = tmpValue.emptyFields;

                if (filledOutAmount.value >= currency(totalAmount).value) {
                    M.toast({html: 'Sum of fields must be smaller than total amount!'});
                    throw new Error("Sum of input-fields of class 'debit-input' is larger than value of 'amount'.")
                }
                if (emptyFields.length <= 0) {
                    M.toast({html: 'Please leave at least one field empty!'});
                    throw new Error("All input-fields of class 'debit-input' have a value assigned.")
                }

                // distribute amount on empty fields
                emptyFields = $scope.distributeValuesByBresenhamAlgorithm(totalAmount, filledOutAmount, emptyFields);

                // make sure that values add up to total
                $scope.validateDistribution(totalAmount, filledOutAmount, emptyFields);

                // set values of empty fields
                for (i=0; i < emptyFields.length; i++) {
                    document.getElementById(emptyFields[i].fieldId).value = emptyFields[i].assignedValue.value;
                }
            };

            $scope.distributeOnEmptyFieldsBeforeSubmit = function() {
                // get user ids
                let userIds = $scope.getUserIds();

                // get total amount
                let totalAmount = $scope.getTotalAmount();

                // get amount of filled inputs
                let tmpValue = $scope.getFilledOutAmountAndEmptyFields(userIds);
                let filledOutAmount = tmpValue.filledOutAmount;
                let emptyFields = tmpValue.emptyFields;

                // distribute amount on empty fields
                emptyFields = $scope.distributeValuesByBresenhamAlgorithm(totalAmount, filledOutAmount, emptyFields);

                // make sure that values add up to total
                $scope.validateDistribution(totalAmount, filledOutAmount, emptyFields);

                return emptyFields;
            };


            $scope.removeValues = function() {
                let fields = document.getElementsByClassName("debit-input");
                for(i=0; i < fields.length; i++) {
                    fields[i].value = "";
                }
            };

            $scope.submit = function() {
                // make sure distribution is set and valid
                let emptyFields;
                let checkboxValue = document.getElementById('custom-distribution').checked;
                if ( checkboxValue === false ) {
                    emptyFields = $scope.distributeOnEmptyFieldsBeforeSubmit();
                } else if ( checkboxValue === true && $scope.getFilledOutAmountAndEmptyFields( $scope.getUserIds() ).emptyFields.length > 0 ) {
                    $scope.distributeOnEmptyFieldsButton();
                }

                // create debits
                let debits = [];
                if (checkboxValue === true ) {
                    let debitFields = document.getElementsByClassName('debit-input');
                    for (i = 0; i < debitFields.length; i++) {
                        debits[i] = {
                            "debtorId": parseInt(debitFields[i].id),
                            "amount": currency(parseFloat(debitFields[i].value)).value
                        }
                    }
                } else if (checkboxValue === false) {
                    for (i = 0; i < emptyFields.length; i++) {
                        debits[i] = {
                            "debtorId": parseInt(emptyFields[i].fieldId),
                            "amount": currency(parseFloat(emptyFields[i].assignedValue)).value
                        }
                    }
                }

                // create payload
                let payload = { };
                payload.userId = 1;  // TODO: get userId from session
                payload.datetime = document.getElementById('date').value;
                payload.category = document.getElementById('category').value;
                payload.shop = document.getElementById('shop').value;
                payload.description = document.getElementById('description').value;
                payload.billId = null;
                payload.debits = debits;

                $http.post("http://localhost:8080/api/v1/payments", payload);
            }

        }
    </script>
</head>
<title>Accounting Otter</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="css/materialize.min.css" type="text/css" media="screen,projection"/>
<body>

    <div  ng-app="GetRestObject" ng-controller="Ctrl">
        <!-- navbar -->
        <nav class="z-depth-3" style="position:fixed; top:0; z-index: 9999">
            <div class="nav-wrapper blue-theme">
                <a href="#" class="brand-logo center"><img src="images/otter-icon-64.png"/></a>
                <div class="left">
                    <a class="sidenav-trigger" href="transactions.html">
                        <i class="material-icons">close</i>
                    </a>
                </div>
                <div class="right">
                    <a class="sidenav-trigger" ng-click="submit()"> <!--href="transactions.html"-->
                        <p class="large">
                            <b>SAVE</b>
                        </p>
                    </a>
                </div>
            </div>
        </nav>
        <!-- editor-container -->
        <div class="pay-edit-conatainer">

            <p><small>AMOUNT</small></p>
            <div class="input-field col s12">
                <i class="material-icons prefix">euro_symbol</i>
                <input id="amount" type="number" min="0" step="0.01"/>
                <label>1234.56 €</label>
            </div>

            <p><small>SHOP</small></p>
            <div class="input-field col s12">
                <i class="material-icons prefix">store</i>
                <input id="shop" type="text"/>
                <label>Otter Mart</label>
            </div>

            <p><small>CATEGORY</small></p>
            <div class="input-field col s12">
                <select id="category" class="browser-default">
                    <option value="" disabled selected>Choose the category</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>

            <p><small>DATE</small></p>
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="date" type="date"/>
            </div>

            <p><small>DESCRIPTION</small></p>
            <div class="input-field col s12">
                <textarea id="description" class="materialize-textarea"></textarea>
            </div>

            <p><small>DISTRIBUTION</small></p>
            <br/>
            <div>
                <p>
                    <label>
                        <input id="custom-distribution" type="checkbox" class="filled-in" ng-model="ModelData.Equal" ng-click="removeValues()"/>
                        <span>Custom distribution</span>
                    </label>
                </p>
                <div ng-show="ModelData.Equal">
                    <br/>
                    <div ng-repeat="user in users">
                        <div class="pay-edit-user-card">
                            <div class="pay-edit-card-user valign-wrapper">
                                {{user.username}}
                            </div>
                            <div class="pay-edit-card-input">
                                <input id={{user.userId}} class="debit-input" type="number" min="0" step="0.01"/>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <a class="waves-effect waves-light btn" ng-click="distributeOnEmptyFieldsButton()">distribute to empty fields</a>
                    <br/><br/><br/>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/currency.js@1.2.1/dist/currency.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
    <script>
        document.getElementById('date').valueAsDate = new Date();
    </script>



</body>
</html>

