<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/otter-pre-loaded.js"></script>
    <script type="text/javascript" src="js/otter-angular-app.js"></script>

</head>
<title>Accounting Otter</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="css/materialize.min.css" type="text/css" media="screen,projection"/>
<body>

    <div  ng-app="GetRestObject" ng-controller="Ctrl">
        <!-- navbar -->
        <nav class="z-depth-3" style="position:fixed; top:0; z-index: 9999">
            <div class="nav-wrapper blue-theme">
                <a href="#" class="brand-logo center"><img src="images/otter-icon-64.png"/></a>
                <div class="left">
                    <a class="sidenav-trigger" href="transactions.html">
                        <i class="material-icons">close</i>
                    </a>
                </div>
                <div class="right">
                    <a class="sidenav-trigger" id="submit">
                        <p class="large">
                            <b>SAVE</b>
                        </p>
                    </a>
                </div>
            </div>
        </nav>
        <!-- editor-container -->
        <div class="pay-edit-conatainer">

            <p><small>AMOUNT</small></p>
            <div class="input-field col s12">
                <i class="material-icons prefix">euro_symbol</i>
                <input id="amount" type="number" min="0" step="0.01"/>
            </div>

            <p><small>SHOP</small></p>
            <div class="input-field col s12">
                <i class="material-icons prefix">store</i>
                <input id="shop" type="text"/>
            </div>

            <p><small>CATEGORY</small></p>
            <div class="input-field col s12">
                <select id="category" class="browser-default">
                    <option value="" disabled selected>Choose the category</option>
                    <option value="groceries">groceries</option>
                    <option value="transportation">transportation</option>
                    <option value="work">work</option>
                </select>
            </div>

            <p><small>DATE</small></p>
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="date" type="date"/>
            </div>

            <p><small>DESCRIPTION</small></p>
            <div class="input-field col s12">
                <textarea id="description" class="materialize-textarea"></textarea>
            </div>

            <p><small>DISTRIBUTION</small></p>
            <br/>
            <div>
                <p>
                    <label>
                        <input id="custom-distribution" type="checkbox" class="filled-in" ng-model="ModelData.Equal" onclick="removeValues()"/>
                        <span>Custom distribution</span>
                    </label>
                </p>
                <div ng-show="ModelData.Equal || mode ==='edit'">
                    <br/>
                    <div ng-repeat="user in users">
                        <div class="pay-edit-user-card">
                            <div class="pay-edit-card-user valign-wrapper">
                                {{convertToShortName(user.firstName, user.lastName)}}
                            </div>
                            <div class="pay-edit-card-input">
                                <input id={{user.userId}} class="debit-input" type="number" min="0" step="0.01"/>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <a class="waves-effect waves-light btn" id="distribute">distribute to empty fields</a>
                    <br/><br/><br/>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://unpkg.com/currency.js@1.2.1/dist/currency.min.js"></script>
    <script type="text/javascript" src="js/otter-payment-editor.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
    <script>

    </script>

</body>
</html>

