/*
red: #e3395e
green: #5ee339
blue: #3983e3
brown: #e37a39
*/

@font-face {
    font-family: "Open Sans Condensed";
    src: url("fonts/opensanscondensed.woff") format("woff");
}

/* global styles */

.blue-theme {
    color: #ffffff !important;
    background-color: #3983e3 !important;
}

.brown-theme {
    color: #FFFFFF !important;
    background-color: #e37a39 !important;
}

.white {
    color: #FFFFFF !important;
}

.black {
    color: black !important;
}

body {
    font-family: "Open Sans Condensed";
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0 0 0 0;
}

p.large {
    font-size: large;
}

p.x-large {
    font-size: x-large;
}

h1 {
    margin: 0 0 0 0 !important;
}

h2 {
    margin: 0 0 0 0 !important;
}

h3 {
    margin: 0 0 0 0 !important;
}

i.icon-white {
    color: white;
}

i.icon-black {
    color: black;
}

.hover-button2 {
    position: fixed !important;
    bottom: 30px;
    right: 30px;
}

.z-depth-1-reversed {
    -webkit-box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -3px 1px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -3px 1px -2px rgba(0, 0, 0, 0.12);
}

.z-depth-2-reversed {
    -webkit-box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.14), 0 -1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.14), 0 -1px 10px 0 rgba(0, 0, 0, 0.12);
}

/* Transactions view */

.card-date {
    grid-column: 2;
    grid-row: 1;
}

.card-shop {
    grid-column: 2;
    grid-row: 2;
}

.card-category {
    grid-column: 2;
    grid-row: 3;
}

.card-amount {
    grid-column: 3;
    grid-row: 2;
}

.card-avatar {
    grid-column: 1;
    grid-row: 2;
}

.card-first-row {
    padding-top: 0.5em;
    padding-bottom: 0;
}

.card-last-row {
    padding-top: 0;
    padding-bottom: 0.5em;
}

.transaction-grid-card {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.25fr 0.5fr 0.25fr;
    padding: 4px 8px 4px 8px;
    margin: 0 0 10px 0;
    background-color: #fffde7;
}

.card-conatainer {
    padding: 0 24px 0 24px;
    margin-top: 80px;
}


/* Payment view */

.payment-header {
    width: 100%;
    display: grid;
    grid-gap: 2vh;
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
    grid-template-rows: 0.4fr 0.4fr 0.2fr;
    padding: 80px 8px 16px 8px;
}

.payment-header-shop {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.payment-header-amount {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

.payment-header-pic-icon {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    margin: auto;
}

.payment-header-category {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
}

.payment-header-trash-icon {
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    margin: auto;
}

.debit-card {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-gap: 2vh;
}

.debit-card-user {
    grid-column: 1;
}

.debit-card-amount {
    grid-column: 2;
}

.debit-blockquote {
    margin: 16px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #e37a39;
}









