@import "../../../assets/variables";

.page-container {
  height: 100vh;
  z-index: 1;
  background-color: $light-primary;
  display: flex;
}

.content-wrapper {
  flex: 1;
  padding: 48px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex: 1;
}

.greeting {
  text-align: center;
  max-width: 250px;
  margin: 16px 0;
}

.input-wrapper {
  margin: 48px 0 56px 0;
}

.input {
  min-width: 300px;
  max-width: 80vw;
}

.button {
  width: 128px;
  height: 42px;
}

.validation-error-container {
  min-height: 24px;
}

.validation-error {
  font-size: smaller;
  color: $indicator-red;
}
