<mat-toolbar color="primary" class="mat-elevation-z4 header">
  <button mat-icon-button (click)="onLeftButtonClick()">
    <mat-icon [@rotateOnChange]="leftHeaderButton">{{leftHeaderButton}}</mat-icon>
  </button>
  <a [routerLink]="['/']" *ngIf="showLogo$ | async">
    <img class="logo" [src]="'assets/otter-icon-128.png'">
  </a>
  <button mat-icon-button (click)="onRightButtonClick()" *ngIf="rightHeaderButton">
    <mat-icon
      [@rotateOnChange]="rightHeaderButton"
      [ngClass]="{'rotate-icon': (shouldSyncIconRotate$ | async)}"
    >
      {{rightHeaderButton}}
    </mat-icon>
  </button>
</mat-toolbar>
