<mat-toolbar color="primary" class="mat-elevation-z4 header">
  <button mat-flat-button class="header-button" (click)="onLeftButtonClick()" [disabled]="!leftButton">
    <mat-icon>
      {{ leftButton?.icon }}
    </mat-icon>
    <span>
      {{ leftButton?.text }}
    </span>
  </button>
  <a class="logo-link" [routerLink]="['/']">
    <img class="logo" src="./assets/otter-icon-128.png" [@fadeOnChange]="showLogo" *ngIf="showLogo">
  </a>
  <button mat-flat-button class="header-button right-button" (click)="onRightButtonClick()" [disabled]="!rightButton">
    <span>
      {{ rightButton?.text }}
    </span>
    <mat-icon>
      {{ rightButton?.icon }}
    </mat-icon>
  </button>
</mat-toolbar>
