@import "theme/theme";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}
a {
  text-decoration: none;
}
h1 {
  font-size: 45px;
  font-weight: normal;
}
