<a [routerLink]="['/purchases', purchase.uid]">
  <div class="card">
    <div class="left-container">
      <img *ngIf="buyer" [src]="buyer.photoURL" [alt]="'Image of ' + buyer.displayName" class="avatar-image">
    </div>
    <div class="middle-container">
      <span class="text-label">{{purchase.date | date}}</span>
      <span class="text-large">{{purchase.shop | titlecase}}</span>
      <span class="text-label">{{purchase.category || 'uncategorized' | lowercase}}</span>
    </div>
    <div class="right-container text-large">
      <span>{{purchase.debits | debitSum | currency:'EUR':'€ ':'1.2-2'}}</span>
    </div>
  </div>
</a>
