<h1>View Purchase</h1>

<ng-container *ngIf="(purchase$ | async) as purchase; else wait">
  <ng-container *ngIf="(users$ | async) as users; else wait">
    <ng-container *ngIf="(category$ | async) as category; else wait">

      <mat-tab-group [selectedIndex]="tabBehavior.tabIndex" (selectedIndexChange)="tabBehavior.tabIndexChange($event)" dynamicHeight>
        <mat-tab label="Details">
          <app-purchase-details [purchase]="purchase" [users]="users" [category]="category"/>
        </mat-tab>
        <mat-tab label="Receipt" [disabled]="!purchase.receiptName">
          <app-receipt-viewer *ngIf="purchase.receiptName" [receiptName]="purchase.receiptName"/>
        </mat-tab>
      </mat-tab-group>

      <app-fab *ngIf="purchaseId$ | async as purchaseId" [routerLink]="['/edit', purchaseId]" queryParamsHandling="merge">
        edit
      </app-fab>

    </ng-container>
  </ng-container>
</ng-container>

<ng-template #wait>
  Loading, please stand by...
</ng-template>
