<div class="scanner-container">
  <button mat-icon-button
          aria-label="Close"
          class="close-button"
          color="grey"
          (click)="onCloseButtonClick()"
          >
    <mat-icon>close</mat-icon>
  </button>
  <zxing-scanner
    [formats]="allowedFormats"
    [tryHarder]="true"
    (scanSuccess)="onScanSuccess($event)"
    (autostarted)="onScannerAutostarted()"
    (hasDevices)="onScannerHasDevices($event)"
    (permissionResponse)="onScannerPermissionResponse($event)"
  ></zxing-scanner>
  <div *ngIf="scannerStarted" class="message-container">
    <app-circle-checkmark-loader [complete]="complete"></app-circle-checkmark-loader>
    <p *ngIf="!complete" class="state-msg">Scanning...</p>
    <p *ngIf="complete" class="state-msg done">Done!</p>
  </div>
  <div *ngIf="scannerStarted" class="message-container">
    <p class="description">Point the camera to the QR code on the receipt to extract the amount and the date.</p>
  </div>
  <div class="error-container" *ngIf="noDevices || noPermission">
    <mat-icon class="warn-icon">warning</mat-icon>
    <div *ngIf="noDevices">
      <p>No cameras have been found.</p>
    </div>
    <div *ngIf="noPermission && !noDevices">
      <p>No permission to access the camera.</p>
    </div>
  </div>
</div>
