<mat-dialog-content>
    <div class="action-button-container">
        <h4>New purchase</h4>
        <button mat-flat-button color="primary"
                (click)="imageInput.triggerCameraInput()">
            Scan receipt
        </button>
        <button mat-flat-button
                (click)="imageInput.triggerFileInput()">
            Select receipt from storage
        </button>
        <button mat-flat-button
                (click)="addPurchaseWithoutReceipt()">
            Continue without receipt
        </button>
    </div>
    <div class="action-button-container">
        <h4>New compensation</h4>
        <button mat-flat-button
                class="action-button-secondary"
                (click)="addCompensation()">
            Add compensation
        </button>
    </div>
</mat-dialog-content>

<app-image-input
    #imageInput
    (imageInput)="onImageCapture($event)"
></app-image-input>
