<div class="purchase-header" [style.background-color]="(category$ | async)?.color">
  <div class="header-content">
    <div class="upper-row">
      <img mat-card-avatar class="mat-card-avatar" [src]="(user$ | async)?.avatarUrl" alt="avatar">
      <span *ngIf="user$ | async as user" class="buyer-name">{{ user.firstName }} {{ user.lastName }}</span>
      <button
              mat-icon-button
              #tooltip="matTooltip"
              (click)="onSyncIndicatorClick()"
              [matTooltip]="getSyncIndicatorTooltipMessage()"
              matTooltipPosition="left">
        <app-sync-indicator [syncStatus]="purchase?.syncStatus"></app-sync-indicator>
      </button>
    </div>
    <div class="font-large shop_and_amount">
      <p>{{ purchase?.isCompensation ? 'Compensation' : purchase?.shop | titlecase }}</p>
      <p>{{ debitSum | currency:'EUR':'€ ':'1.2-2'}}</p>
    </div>
  </div>
  <div class="header-actions">
    <button *ngIf="!purchase?.isCompensation" mat-flat-button (click)="onImageButtonClick()">
      <mat-icon>photo</mat-icon>
      Receipt
    </button>
    <button mat-flat-button (click)="onDeleteButtonClick()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
</div>

<div class="detail-container">

  <p class="detail-title">DATE</p>
  <p>{{ purchase?.date | date }}</p>
  <br/>

  <p class="detail-title">CATEGORY</p>
  <span>
    {{purchase?.isCompensation ? 'compensation' : ((category$ | async)?.label || 'uncategorized') | lowercase}}
  </span>
  <div class="category-color-dot" [style.background-color]="(category$ | async)?.color"></div>
  <br/>
  <br/>

  <ng-container *ngIf="purchase?.description">
    <p class="detail-title">DESCRIPTION</p>
    <p>{{ purchase?.description }}</p>
    <br/>
  </ng-container>

  <p class="detail-title">{{ purchase?.isCompensation ? 'RECIPIENT' : 'DISTRIBUTION' }}</p>
  <ng-container *ngFor="let debit of purchase?.debits">
    <ng-container *ngIf="selectUserById(debit.debtorId) | async as user">
      <app-debit-card [amount]="debit.amount" [user]="user"></app-debit-card>
    </ng-container>
  </ng-container>

</div>
