<table>
  <tr>
    <th>Shop:</th>
    <td>{{ purchase.shop }}</td>
  </tr>
  <tr>
    <th>Category:</th>
    <td>{{ category.displayName }}</td>
  </tr>
  <tr>
    <th>Amount:</th>
    <td>{{ purchase.debits | debitSum | currency:'EUR':'€ ':'1.2-2' }}</td>
  </tr>
  <tr>
    <th>Date:</th>
    <td>{{ purchase.date | date }}</td>
  </tr>
  <tr *ngIf="purchase.description">
    <th>Description:</th>
    <td>{{ purchase.description }}</td>
  </tr>
  <tr>
    <th>Cost distribution:</th>
    <td>
      <ng-container *ngTemplateOutlet="debitTable"/>
    </td>
  </tr>
</table>

<ng-template #debitTable>
  <table>
    <tr *ngFor="let debit of getDebitsEntries(purchase.debits)">
      <th>{{ findUserByUid(debit.debtorUid, users)?.displayName ?? 'Unknown' }}:</th>
      <td>{{ debit.amount | currency:'EUR':'€ ':'1.2-2' }}</td>
    </tr>
  </table>
</ng-template>
