<mat-card (click)="onClick()" [style.border-left]="'4px solid ' + (category$ | async)?.color">
  <mat-card-content class="card-content">

    <div class="avatar-column">
      <div *ngIf="buyerAvatarUrl$ | async" class='grid-cell__r2-c1'>
        <img mat-card-avatar [src]="buyerAvatarUrl$ | async">
      </div>
    </div>
    <div class="purchase-details">
      <div class="row small-row">
        <span>{{purchase.date | date : "dd.MM.yyyy"}}</span>
      </div>
      <div class="row large-row">

        <ng-container *ngIf="!purchase.isCompensation; else isCompensation">
          <span class="truncate-text">{{purchase.shop | titlecase}}</span>
        </ng-container>
        <ng-template #isCompensation>
          <div class="compensation-icons">
            <mat-icon>arrow_right_alt</mat-icon>
            <img *ngIf="receiverAvatarUrl$ | async" mat-card-avatar
                 [src]="receiverAvatarUrl$ | async" class="receiver-avatar"/>
          </div>
        </ng-template>

        <span *ngIf="debitSum" class="amount">
          {{debitSum | currency:'EUR':'€ ':'1.2-2'}}
        </span>
        <span *ngIf="!debitSum" class="amount">
          N/A
        </span>

      </div>
      <div class="row small-row">
        <span>
          {{purchase.isCompensation ? 'compensation' : (category$ | async)?.label | lowercase}}
        </span>
        <app-sync-indicator [syncStatus]="purchase.syncStatus"
                            size="18px"
                            class="sync-status-indicator"
        ></app-sync-indicator>
      </div>
    </div>

  </mat-card-content>
</mat-card>
