@use "../../../assets/variables" as vars;

zxing-scanner {
  ::ng-deep video {
    max-height: 50vh;
  }
}

app-circle-checkmark-loader {
  margin-bottom: 12px;
}

.scanner-container {
  $padding-top: 30px;
  padding-top: $padding-top;
  min-height: calc(100% - #{$padding-top});
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
}

.message-container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.description {
  color: slategrey;
}

.state-msg {
  font-size: 20px;
}

.done {
  color: vars.$primary-default;
}

.error-container {
  position: absolute;
  width: 100vw;
  left: 0;
  text-align: center;
}

.warn-icon {
  font-size: 48px;
  margin-right: 24px;
  margin-bottom: 48px;
}
