<div class="receipt-scanner-container">

  <div
    *ngIf="!rawImage"
    class="capture-button"
  >
    <button
      (click)="promptImageCapture()"
      mat-flat-button
    >
      <mat-icon>camera_alt</mat-icon>
      Capture receipt
    </button>
    <button
      (click)="promptStorageSelection()"
      mat-flat-button
    >
      <mat-icon>storage</mat-icon>
      Select from storage
    </button>
    <button
      *ngIf="!(purchaseId$ | async)"
      (click)="dispatchAndLeave()"
      mat-flat-button
    >
      <mat-icon>skip_next</mat-icon>
      Continue without receipt
    </button>
  </div>


  <div class="spinner" *ngIf="isProcessing()">
    <mat-spinner></mat-spinner>
    <span class="spinner-message" *ngIf="!docScannerReady">Downloading OpenCV library...</span>
    <span class="spinner-message" *ngIf="docScannerReady">Processing image...</span>
  </div>

  <input
    #cameraInput
    type="file"
    accept="image/*"
    capture="environment"
    (change)="onImageCapture($event)"
    style="visibility: hidden"
  />
  <input
    #fileInput
    type="file"
    accept="image/*"
    (change)="onImageCapture($event)"
    style="visibility: hidden"
  />

  <div [hidden]="!rawImage || isProcessing()">
    <ngx-doc-scanner
      #docScanner
      [file]="rawImage"
      [config]="config"
      (editResult)="onEditResult($event)"
      (exitEditor)="onExitEditor($event)"
      (ready)="onDocScannerReady($event)"
    >
    </ngx-doc-scanner>
  </div>

</div>
