<div class="page-container">

  <div class="content-wrapper">

    <div class="flex-row">
      <img src="./assets/icons/icon-128x128.png"/>
    </div>

    <div class="flex-row greeting">
      <h1>Hi there!</h1>
      <span>Otterly nice to meet you! Please fill in your first and last name to start.</span>
    </div>

    <div class="flex-row input-wrapper">
      <mat-form-field class="input">
        <mat-label>First name</mat-label>
        <input #firstNameTempl="ngModel"
               [(ngModel)]="firstName"
               matInput type="text"
               required minlength="2"
        />
      </mat-form-field>
      <div class="validation-error-container">
        <div *ngIf="firstNameTempl.invalid && (firstNameTempl.dirty || firstNameTempl.touched)"
             class="validation-error">
          <div *ngIf="firstNameTempl.errors.required">
            First name is required.
          </div>
          <div *ngIf="firstNameTempl.errors.minlength">
            First name must be at least 2 characters long.
          </div>
        </div>
      </div>
      <mat-form-field class="input">
        <mat-label>Last name</mat-label>
        <input [(ngModel)]="lastName"
               matInput type="text"/>
      </mat-form-field>
    </div>

    <div class="flex-row">
      <button mat-raised-button color="primary" class="button" (click)="createUser()">Let's go!</button>
    </div>

  </div>

</div>
