<div class="app-container">
  <app-sidenav>
    <app-header
            [showLogo]="showHeaderLogo$ | async"
            [leftButton]="leftHeaderButtonConfig$ | async"
            [rightButton]="rightHeaderButtonConfig$ | async"
            (leftButtonClicked)="onLeftHeaderButtonClicked()"
            (rightButtonClicked)="onRightHeaderButtonClicked()"
    ></app-header>
    <div class="main-content" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet class='outlet' #outlet="outlet"></router-outlet>
    </div>
    </app-sidenav>
</div>
