@import "../../assets/variables";

.main-content {
  margin-top: calc(#{$header-height} - 2px);
  height: calc(100vh - #{$header-height});
  padding-top: 2px;
  background-color: $light-primary;
  z-index: 1;
}

.fab-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 2;
}
