@import "../../assets/variables";

.app-container {
  height: 100vh;
}

.main-content {
  min-height: calc(100vh - 56px);
  z-index: 1;
  background-color: $light-primary;
  padding-top: var(--header-height)
}

.fab-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 2;
}
