@import "../../../assets/variables";

.editor-container {
  $padding-top-bottom: 16px;
  height: calc(100vh - #{$header-height} - (#{$padding-top-bottom} * 2));
  overflow: scroll;
  background-color: $light-primary;
  padding: $padding-top-bottom 24px $padding-top-bottom 24px;
  flex: 1;
}

.editor-group {
  margin: 8px 0 16px 0;
  padding-right: 6vw;
}

.editor-symbol-col {
  flex: 1;
  margin: auto;
  min-width: 32px
}

.editor-input-col {
  flex: 9;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.input-button {
  height: 34px;
  margin-left: 8px;
  align-self: center;
}

.autofilled {
  ::ng-deep .mat-form-field-wrapper {
    .mat-form-field-flex {
      .mat-form-field-infix {
        background-color: lightgray;
        border-color: $light-primary;
      }
    }
  }
}
