<div class="payment-header">

  <div class="payment-header-shop">
    <p>{{ payment.shop | titlecase }}</p>
  </div>
  <div class="payment-header-amount">
    <p>€ {{ payment.sumAmount }}</p>
  </div>
  <button mat-icon-button class="payment-header-pic-icon">
    <mat-icon>photo</mat-icon>
  </button>
  <div class="payment-header-category">
    <p>{{ payment.category | lowercase }}</p>
  </div>
  <div class="payment-header-trash-icon">
  <button mat-icon-button (click)="onDeleteButtonClick()" class="payment-header-trash-icon">
    <mat-icon>delete</mat-icon>
  </button>
  </div>

</div>

<div class="detail-container z-depth-1-reversed">

  <div id='payment-description'>
    <p>{{ payment.description }}</p>
  </div>
  <p class="detail-title">DISTRIBUTION</p>
  <div class="debit-blockquote">
    <ng-container *ngFor="let debit of payment.debits">
      <ng-container *ngIf="selectUserById(debit.debtorId) | async as user">
        <app-debit-card [debit]="debit" [user]="user"></app-debit-card>
      </ng-container>
    </ng-container>
  </div>

</div>
