@use '../theme/mixins' as mixins;

.page-outer-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.page-inner-container {
  height: 100%;
  @media (min-width: 600px) {
    max-height: 800px;
  }
  @include mixins.limit-page-width-inner-container;
}
