<mat-card (click)="onClick()">
  <mat-card-content>
    <div class='transaction-grid-card'>
      <div class='transaction-card-avatar'>
          <img mat-card-avatar [src]='avatar'>
      </div>

      <div class='transaction-card-date transaction-card-first-row'>
        <p>{{payment.date | date : "dd.MM.yyyy"}}</p>
      </div>

      <div class='transaction-card-shop'>
        <p>{{payment.shop | titlecase}}</p>
      </div>

      <div class='transaction-card-category transaction-card-last-row'>
        <p>{{payment.category | lowercase}}</p>
      </div>

      <div class='transaction-card-amount' style='text-align:right;'>
        <p>&euro; {{payment.sumAmount}}</p>
      </div>

    </div>

  </mat-card-content>
</mat-card>
