:root {
  --fino-color-primary: #9ccaff;
  --fino-color-on-primary: #003256;
  --fino-color-primary-container: #00497a;
  --fino-color-on-primary-container: #d0e4ff;
  --fino-color-primary-card: #000a10;
  --fino-color-on-primary-card: #d0e4ff;
  --fino-color-background: #1a1c1e;
  --fino-color-on-background: #e2e2e6;
  --fino-color-outline: #8c9199;
}
