:root {
  --fino-color-primary: #0063a1;
  --fino-color-on-primary: #ffffff;
  --fino-color-primary-container: #d0e4ff;
  --fino-color-on-primary-container: #001d35;
  --fino-color-primary-card: #eef8ff;
  --fino-color-on-primary-card: #001d35;
  --fino-color-background: #fdfcff;
  --fino-color-on-background: #1a1c1e;
  --fino-color-outline: #73777f;
}
