$palette-primary: (
  50: #e5f2ff,
  100: #c2deff,
  200: #9ccaff,  // primary
  300: #79b5fd,
  400: #65a5fb,
  500: #5995f9,
  600: #5587e9,
  700: #5075d5,
  800: #4b63c2,
  900: #4244a1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
  )
);

$palette-complementary: (
  50: #fff4e7,
  100: #ffe3c2,
  200: #ffd19c,  // complementary
  300: #ffbe73,
  400: #ffae56,
  500: #ffa045,
  600: #ff9542,
  700: #f8863e,
  800: #f1783a,
  900: #e66034,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
  )
);

$palette-analogous1: (
  50: #d9feff,
  100: #9cfcff,  // analogous 1
  200: #57f7fe,
  300: #00f0fb,
  400: #00eaf8,
  500: #00e4f8,
  600: #00d2e4,
  700: #00bbc7,
  800: #00a6ae,
  900: #00817f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
  )
);

$palette-analogous2: (
  50: #e9e7ff,
  100: #c7c3ff,
  200: #9f9cff,  // analogous 2
  300: #7875f6,
  400: #5f56e5,
  500: #4936d5,
  600: #452cca,
  700: #3d20bd,
  800: #3610af,
  900: #2d0097,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
  )
);

$palette-triadic1: (
  50: #f4e7fe,
  100: #e3c4fe,
  200: #d19cff,  // triadic 1
  300: #bc75fb,
  400: #aa58f3,
  500: #9a40ea,
  600: #883de3,
  700: #6f39da,
  800: #5836d1,
  900: #1830c2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
  )
);

$palette-triadic2: (
  50: #fee7f2,
  100: #fdc3df,
  200: #ff9cca,  // triadic 2
  300: #ff74b4,
  400: #ff56a0,
  500: #ff3c8c,
  600: #f23987,
  700: #da3680,
  800: #c4327a,
  900: #9c2c70,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
  )
);
