@use '@angular/material' as mat;
@use './palette-light' as palette-light;
@use './palette-dark' as palette-dark;

// see https://material.angular.io/guide/theming#multiple-themes-in-one-file

@include mat.core();

$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(palette-light.$palette-primary, 900),
    accent: mat.define-palette(palette-light.$palette-complementary, 900),
    warn: mat.define-palette(mat.$red-palette),
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(palette-dark.$palette-primary, 200),
    accent: mat.define-palette(palette-dark.$palette-complementary, 200),
    warn: mat.define-palette(mat.$red-palette),
  )
));

@include mat.all-component-themes($light-theme);
@import './colors-light';

@media (prefers-color-scheme: dark) {
  @include mat.all-component-themes($dark-theme);
  @import './colors-dark';
}
