@import "../../../assets/variables";

.summary-container {
  $padding-top: 18px;
  height: calc(100vh - #{$header-height} - #{$padding-top});
  overflow: scroll;
  padding: $padding-top 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.chart {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.title {
  font-size: small;
  margin: 8px 0 8px 0;
}

.debit-blockquote {
  margin: 16px 24px 0 0;
}

.category-summary-months-form {
  max-width: 32px;
  text-align: center;
}

.no-data-template {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
