@import "../../../assets/variables";

.summary-container {
  $padding-top: 18px;
  height: calc(100vh - #{$header-height} - #{$padding-top});
  overflow: scroll;
  padding: $padding-top 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.chart {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.title {
  font-size: small;
  margin: 8px 0 8px 0;
}

.debit-blockquote {
  margin: 16px 24px 0 0;
  padding-left: 1.5rem;
  border-left: 5px solid $header-background;
}
