<div class="summary-container">
  <div class="chart">
    <div class="chart">
      <p class="title">BALANCE</p>
      <div class="debit-blockquote">
        <ng-container *ngFor="let balance of (balances$ | async)">
          <ng-container *ngIf="selectUserById(balance[0]) | async as user">
            <app-debit-card [amount]="balance[1]" [user]="user"></app-debit-card>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="chart">
      <p class="title">LAST 6 MONTHS EXPENSES BY CATEGORY</p>
      <ngx-charts-pie-chart
        [view]="chartSize"
        [scheme]="'vivid'"
        [results]="categorySummaryChartData$ | async"
        [customColors]="categoryColorMap$ | async"
        [legend]="false"
        [labels]="true"
        [doughnut]="true"
      >
      </ngx-charts-pie-chart>
    </div>

    <div class="chart">
      <p class="title">MONTHLY EXPENSES BY CATEGORY</p>
      <ngx-charts-bar-vertical-stacked
        [view]="chartSize"
        [scheme]="'vivid'"
        [results]="categoryMonthSummaryChartSeries$ | async"
        [customColors]="categoryColorMap$ | async"
      >
      </ngx-charts-bar-vertical-stacked>
    </div>
  </div>
</div>
