<div class="summary-container">
  <div class="chart">
    <div class="chart">
      <p class="title">BALANCE</p>
      <div class="debit-blockquote">
        <ng-container *ngFor="let balance of (balances$ | async)">
          <ng-container *ngIf="selectUserById(balance[0]) | async as user">
            <app-debit-card [amount]="balance[1]" [user]="user"></app-debit-card>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="chart">
      <p class="title">
        LAST
        <mat-form-field class="category-summary-months-form">
          <input matInput
                 type="number"
                 min="1"
                 [(ngModel)]="categorySummaryMonths"
                 (ngModelChange)="onCategorySummaryMonthsChange($event)"
          />
        </mat-form-field>
        MONTHS EXPENSES BY CATEGORY</p>
      <ng-container *ngIf="!areAllChartDataValuesZero(categorySummaryChartData$ | async); else noDataTemplate">
        <ngx-charts-pie-chart
                [view]="chartSize"
                [scheme]="'vivid'"
                [results]="categorySummaryChartData$ | async"
                [customColors]="categoryColorMap$ | async"
                [legend]="false"
                [labels]="true"
                [doughnut]="true"
                [maxLabelLength]="24"
        ></ngx-charts-pie-chart>
      </ng-container>
    </div>

    <div class="chart">
      <p class="title">MONTHLY EXPENSES BY CATEGORY</p>
      <ng-container *ngIf="!areAllChartSeriesValuesZero(categoryMonthSummaryChartSeries$ | async); else noDataTemplate">
        <ngx-charts-bar-vertical-stacked
                [view]="chartSize"
                [scheme]="'vivid'"
                [results]="categoryMonthSummaryChartSeries$ | async"
                [customColors]="categoryColorMap$ | async"
                [xAxis]="true"
                [yAxis]="true"
        ></ngx-charts-bar-vertical-stacked>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #noDataTemplate>
  <div class="no-data-template">
    <p>No data for this period.</p>
  </div>

</ng-template>