@import '~@angular/material/theming';
$primary: mat-palette($mat-blue,800);
$accent: mat-palette($mat-red,600);
$theme: mat-light-theme($primary, $accent);

$light-primary: mat-color($primary, 50);
$darker-light-primary: mat-color($primary, 200);
$light-accent: mat-color($accent, 50);
$darker-light-accent: mat-color($accent, 200);

$indicator-green: mat-color(mat-palette($mat-green), 300);
$indicator-orange: mat-color(mat-palette($mat-orange), 400);
$indicator-red: mat-color(mat-palette($mat-red), 500);


$header-height: 56px;