<div class="receipt-processor-container">

  <div class="spinner" *ngIf="isProcessing()">
    <mat-spinner></mat-spinner>
    <span class="spinner-message" *ngIf="!docScannerReady">Downloading OpenCV library...</span>
    <span class="spinner-message" *ngIf="docScannerReady">Processing image...</span>
  </div>

  <div [hidden]="!rawImage || isProcessing()">
    <ngx-doc-scanner
      #docScanner
      [file]="rawImage"
      [config]="config"
      (editResult)="onEditResult($event)"
      (exitEditor)="onExitEditor()"
      (ready)="onDocScannerReady($event)"
    >
    </ngx-doc-scanner>
  </div>

</div>
