@import "theme/theme";

:root {
  --mdc-fab-container-shape: 16px;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--fino-color-background);
  color: var(--fino-color-on-background);
}
a {
  text-decoration: none;
  color: unset;
}
h1 {
  font-size: 45px;
  font-weight: normal;
}
*:not:focus-visible {
  outline: none;
}
*:focus-visible {
  outline-width: 2px;
  outline-color: var(--fino-color-outline);
}
