<mat-dialog-content>
    <div class="action-button-container">
        <h4>Upload new receipt</h4>
        <button mat-flat-button color="primary"
                (click)="imageInput.triggerCameraInput()">
            Scan receipt
        </button>
        <button mat-flat-button
                class="action-button-secondary"
                (click)="imageInput.triggerFileInput()">
            Select receipt from storage
        </button>
    </div>
</mat-dialog-content>

<app-image-input
    #imageInput
    (imageInput)="onImageCapture($event)"
></app-image-input>
