// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~material-design-icons/iconfont/material-icons.css";

@import '~@angular/material/theming';
@include mat-core();
  $primary: mat-palette($mat-blue,800);
  $accent: mat-palette($mat-red,600);
  $theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

body {
  margin: 0;
}

mat-card {
  margin: 0px 8px 8px 8px;
  padding: 16px 16px 16px 16px;
}

.sidenav-container {
  height: 100vh;
  background-color: #E3F2FD;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
}


