@use "../../../theme/mixins" as mixins;
@use './layout-commons' as commons;

$toolbar-height: 80px;

main {
  padding: 0 commons.$main-side-padding calc($toolbar-height + 8px) commons.$main-side-padding;
}

.main-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: $toolbar-height;
  background-color: var(--fino-color-primary-container);
  color: var(--fino-color-on-primary-container);
  display: flex;
  justify-content: center;

  :focus-visible {
    outline: 2px solid var(--fino-color-outline);
  }

  &__inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mixins.limit-page-width-inner-container;
  }


  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100px;
    color: var(--fino-color-on-primary-container);
    mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      height: 32px;
      width: 64px;
      font-size: 22px;
      margin: 0;
    }
    ::ng-deep.mdc-button__label {
      line-height: normal;
      margin-top: 6px;
    }
  }

  &__active {
    mat-icon {
      background: var(--fino-color-primary);
      color: var(--fino-color-on-primary);
    }
  }
}
