<div class="page-container">

  <div class="content-wrapper">

    <div class="flex-row">
      <img src="../../assets/fino-logo-128.png"/>
    </div>

    <div class="flex-row greeting">
      <h1>Hi there!</h1>
      <span>Otterly nice to meet you! Please fill in your first and last name to start.</span>
    </div>

    <div class="flex-row input-wrapper">
      <mat-form-field class="input">
        <mat-label>First name</mat-label>
        <input [(ngModel)]="firstName"
               matInput type="text"/>
      </mat-form-field>
      <br/>
      <mat-form-field class="input">
        <mat-label>Last name</mat-label>
        <input [(ngModel)]="lastName"
               matInput type="text"/>
      </mat-form-field>
    </div>

    <div class="flex-row">
      <button mat-raised-button color="primary" class="button" (click)="createUser()">Alright!</button>
    </div>

  </div>

</div>
