<div class="button-container" *ngIf="!receiptName">
  <button mat-raised-button color="primary" (click)="triggerCameraInput()">Take a picture</button>
  <button mat-stroked-button (click)="triggerFileInput()">Select from gallery</button>
</div>

<app-receipt-viewer *ngIf="receiptName" [receiptName]="receiptName" (imageLoaded)="onImageLoaded()" />

<div class="hidden-input">
  <input
    #cameraInput
    id="cameraInput"
    type="file"
    accept="image/*"
    capture="environment"
    (change)="onImageCapture($any($event))"
  />
  <input
    #fileInput
    id="fileInput"
    type="file"
    accept="image/*"
    (change)="onImageCapture($any($event))"
  />
</div>
